<!DOCTYPE html>
<html>
<head>

    <title>Pyramid Slide</title>

    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>

    <div class="tittle">
        
        <h1>Pyramid Slide</h1>

    </div>

    <div id="app">

        <div class="options">
            
            <label for="brick">Brick Symbol:</label>
            <select id="brick" v-model="symbol" >
                <option v-for="symbol in symbols">{{ symbol }}</option>
            </select>
        
            <!-- did not really want to add the spacing this way, but oh well! -->
            <label for="slide">&nbsp;&nbsp;&nbsp;How high?</label>
            <input id="slide" 
                v-model="height"
                type="range" 
                min="1" 
                max="20" >

                <output id="slideValue">{{ slideValue() }}</output>

        </div>
           
        </br>
        </br>

        <div class="pyramid">
                <p v-for="row in rows" v-html="row" ></p>
            </div>

    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="main.js"></script>   

</body>
</html>
